@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: overlay;
  user-select: none;
}

::-webkit-scrollbar {
  padding-right: 5px;
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px 0 0 15px;
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

.octo-arm {
  transform-origin: 120px 144px;
  -webkit-transform-origin: 120px 144px;
}

.github:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#game {
  -webkit-appearance: none;
  background: url(https://api.iconify.design/eva/arrow-ios-upward-outline.svg?color=%23cacaca&width=10&height=10&rotate=180deg)
      no-repeat right / contain,
    #18181b;
  background-size: 1rem;
  background-position-x: 95%;
}
