@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: overlay;
  user-select: none;
}

::-webkit-scrollbar {
  padding-right: 5px;
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px 0 0 15px;
  background: #8b5cf6;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}
